
<html>
  
  
<table width="100%"><tr><td align="center">
<h3><p>Welcome! <%= @sessName %></br>


<p><%= link_to 'Staff Database', people_path %></p>
<%= image_tag("Official.jpg", :class => "round") %>
</table>
</html>