<p>
  <b>Name:</b>
  <%= comment.name %>
</p>
 
<p>
  <b>Comment:</b>
  <%= comment.body %>
</p>
<p>
  <%= link_to 'Destroy Comment', [comment.person, comment],
               :confirm => 'Are you sure?',
               :method => :delete %>
</p>