<html>
  <p>Call, Email or Fill the form below</p>
<p>Adedayo Bada</p>
<p>NinoSoft Headquaters</p>
<p>Ab24 IWU</p>
<p>deetu02@yahoo.com</p>
<p>Cell - 07534115100</p>
<a target="_blank" href="http://maps.google.co.uk/maps?oe=utf-8&rls=org.mozilla:en-GB:official&client=firefox-a&q=Aberdeen+AB24+1WU,+United+Kingdom&um=1&ie=UTF-8&hq=&hnear=0x48840de2b679d735:0xa9af7ff2c9074e25,Aberdeen+AB24+1WU&gl=uk&ei=vM9eT4mcDIig8gOnzbW6Bw&sa=X&oi=geocode_result&ct=title&resnum=1&ved=0CCEQ8gEwAA">Map Direction</a>
</p>
  <body>
            <fieldset>

               <legend>Personal Details</legend>
            <p>Name: <input type="text" name="name" id="name" /></p>
            
            <p>Email: <input type="text" name="email" id="email" /></p>
            
            <p>Please select your Gender</p>
            <p>
               <input name="status" id="status" type="radio" value="male" /> Male
               <input name="status" id="status" type="radio" value="female" /> Female
            </p>

            </fieldset>
            <fieldset>
               <legend>Message</legend>
                
            <p>Comment:</p>

            <textarea name="message" id="message" rows="6" cols="40"> No comment... </textarea>
            </textarea>
            <p>
               
               <input type="submit" value="Submit your Feedback"/>
               <input type="reset" value="Clear the form"/>
            </p>
		</fieldset>
            <input type="hidden" name="username" id="username" value="t05aab11"/>

            <input type="hidden" name="webmastermail" id="webmastermail" value="adedayo.bada.11@abdn.ac.uk"/>
            <input type="hidden" name="homepage" id="homepage" value="www.abdn.ac.uk/~t05aab11/"/>
         </form>

      
   </body> 
</html
