<table width="100%"><tr><td align="center">

<%= image_tag("Official.jpg", :class => "round") %>

</table>
<p>NinoSoft INC. specializes in customer aquisition and loyalty through
Website design, Website Application Software development and Office Computer Network designs & Implimentation.

We strive to offer you cutting-edge design and marketing solutions to take your Business to new levels.</p>

<p>Our professional programming and staff will ensure superior website design and functionality
to meet all your business needs.

Combined with our expert marketing staff, we will ensure your business the tools and capabilities to reach new customers and increase sales!!!</p>

<p>Let us help you discover new and exciting ways to manage your staff today...
</p>






